.noise-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.eventHead {
  margin-top: -60px !important;
  font-size: 60px;
}
.noise-background {
  /* background: url('http://api.thumbr.it/whitenoise-361x370.png?background=00000000&noise=626262&density=30&opacity=30'); */
  background: url("../assets/backgrounds/noise.png");
  height: 300%;
  width: 300%;
  background-repeat: repeat;
  position: fixed;
  left: -100%;
  top: -100%;
  animation: noise-background-effect 1s infinite;
}

.image-glitch-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.image-glitch-container > img {
  width: 100px;
  position: absolute;
  animation: glitch-image 1s infinite;
}

.image-glitch-container > img:nth-of-type(1) {
  top: 10%;
  left: 20%;
}

.image-glitch-container > img:nth-of-type(2) {
  bottom: 10%;
  left: 20%;
}

.image-glitch-container > img:nth-of-type(3) {
  top: 15%;
  right: 10%;
}

.image-glitch-container > img:nth-of-type(4) {
  bottom: 20%;
  right: 20%;
}

.backgrounds {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: #000000;
}

/* .backgrounds .landing-background {
  background: url("../assets/backgrounds/BG.jpg");
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 5;
} */

.backgrounds .landing-background .background-ele4 {
  position: absolute;
  z-index: 4;
  top: 65%;
  left: 0;
  width: 100%;
  height: 35%;
  box-shadow: inset 0px -150px 50px -35px #000000;
}

.grid-background {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-size: 50px 50px;
  background-image: linear-gradient(to right, #000000 1px, transparent 1px),
    linear-gradient(to bottom, #000000 1px, transparent 1px);
}

.star-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.star-container1 {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.star-container3 {
  position: absolute;
  left: 0;
  top: 4000px;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.star-container4 {
  position: absolute;
  left: 0;
  top: 6000px;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.star-container5 {
  position: absolute;
  left: 0;
  top: 8000px;
  z-index: 2;
  width: 100%;
  height: 100%;
}

#stars {
  width: 1px;
  height: 1px;
  box-shadow: 789px 19876px #fff, 1508px 16px #fff, 1905px 76px #fff,
    1346px 1188px #fff, 278px 1003px #fff, 1611px 326px #fff, 1144px 1697px #fff,
    918px 1328px #fff, 917px 1310px #fff, 1936px 53px #fff, 1253px 1081px #fff,
    137px 590px #fff, 56px 768px #fff, 112px 1462px #fff, 525px 1719px #fff,
    950px 1752px #fff, 868px 1111px #fff, 911px 797px #fff, 344px 991px #fff,
    1568px 46px #fff, 1198px 1891px #fff, 1887px 716px #fff, 398px 1px #fff,
    972px 1408px #fff, 8px 12px #fff, 817px 1230px #fff, 391px 1976px #fff,
    156px 727px #fff, 1431px 216px #fff, 1234px 1929px #fff, 1227px 1697px #fff,
    1045px 719px #fff, 16px 360px #fff, 1925px 896px #fff, 1612px 1819px #fff,
    1701px 575px #fff, 1666px 779px #fff, 1602px 1910px #fff, 272px 1181px #fff,
    1764px 1674px #fff, 380px 473px #fff, 1960px 219px #fff, 1256px 63px #fff,
    1734px 1572px #fff, 1454px 732px #fff, 1280px 1957px #fff, 315px 1262px #fff,
    500px 127px #fff, 1341px 1246px #fff, 791px 41px #fff, 1399px 728px #fff,
    1641px 293px #fff, 123px 273px #fff, 495px 106px #fff, 937px 1201px #fff,
    1502px 1987px #fff, 940px 171px #fff, 1819px 1261px #fff, 899px 185px #fff,
    608px 1988px #fff, 1123px 1336px #fff, 1742px 1537px #fff, 433px 134px #fff,
    1684px 1512px #fff, 1771px 622px #fff, 42px 853px #fff, 1889px 765px #fff,
    720px 198px #fff, 1524px 292px #fff, 1264px 155px #fff, 194px 1389px #fff,
    1511px 1649px #fff, 1662px 1507px #fff, 1355px 163px #fff, 1560px 700px #fff,
    186px 742px #fff, 870px 1532px #fff, 701px 824px #fff, 95px 1145px #fff,
    1984px 204px #fff, 1896px 434px #fff, 1692px 657px #fff, 530px 448px #fff,
    1928px 111px #fff, 64px 80px #fff, 620px 406px #fff, 1364px 125px #fff,
    1437px 1004px #fff, 487px 390px #fff, 816px 762px #fff, 1009px 1728px #fff,
    1801px 846px #fff, 1189px 1539px #fff, 1526px 627px #fff, 271px 1499px #fff,
    718px 1150px #fff, 1206px 623px #fff, 1566px 239px #fff, 1465px 1446px #fff,
    1113px 813px #fff, 726px 1767px #fff, 1456px 1895px #fff, 49px 1639px #fff,
    1130px 1975px #fff, 1255px 183px #fff, 1655px 956px #fff, 1447px 632px #fff,
    542px 1698px #fff, 399px 145px #fff, 913px 1617px #fff, 1718px 290px #fff,
    1128px 1142px #fff, 1993px 18px #fff, 1933px 1758px #fff, 1128px 697px #fff,
    1093px 305px #fff, 423px 1579px #fff, 157px 637px #fff, 22px 115px #fff,
    1907px 183px #fff, 864px 1857px #fff, 1581px 1034px #fff, 762px 1988px #fff,
    1687px 921px #fff, 1534px 1239px #fff, 132px 591px #fff, 795px 1226px #fff,
    1351px 954px #fff, 131px 934px #fff, 1865px 138px #fff, 1430px 964px #fff,
    1922px 1243px #fff, 122px 1235px #fff, 388px 302px #fff, 770px 460px #fff,
    851px 704px #fff, 150px 1859px #fff, 1805px 180px #fff, 956px 820px #fff,
    1021px 1381px #fff, 1511px 504px #fff, 213px 114px #fff, 1566px 733px #fff,
    249px 1687px #fff, 860px 1267px #fff, 8px 366px #fff, 393px 1506px #fff,
    460px 1113px #fff, 218px 1574px #fff, 133px 1525px #fff, 1685px 313px #fff,
    1072px 1184px #fff, 472px 1122px #fff, 1932px 1912px #fff, 920px 1230px #fff,
    303px 1917px #fff, 1715px 595px #fff, 1034px 1018px #fff, 1792px 1182px #fff,
    667px 279px #fff, 1874px 1664px #fff, 1007px 1996px #fff, 151px 1051px #fff,
    1551px 1071px #fff, 212px 832px #fff, 162px 1392px #fff, 866px 1893px #fff,
    1165px 602px #fff, 746px 756px #fff, 444px 788px #fff, 1551px 1002px #fff,
    501px 1894px #fff, 466px 1986px #fff, 1997px 587px #fff, 201px 1370px #fff,
    1731px 548px #fff, 239px 1150px #fff, 1819px 544px #fff, 605px 1557px #fff,
    1129px 1419px #fff, 87px 755px #fff, 1334px 930px #fff, 774px 307px #fff,
    1101px 1607px #fff, 1266px 573px #fff, 213px 1352px #fff, 1365px 73px #fff,
    136px 546px #fff, 398px 1970px #fff, 1731px 227px #fff, 205px 1944px #fff,
    594px 1974px #fff, 1537px 1218px #fff, 827px 1987px #fff, 2000px 211px #fff,
    99px 1559px #fff, 601px 289px #fff, 139px 52px #fff, 1301px 1359px #fff,
    797px 1526px #fff, 1612px 498px #fff, 681px 1387px #fff, 1026px 1914px #fff,
    1538px 1905px #fff, 858px 1452px #fff, 1377px 1151px #fff, 697px 693px #fff,
    466px 409px #fff, 1225px 33px #fff, 1629px 504px #fff, 1337px 738px #fff,
    1778px 1756px #fff, 453px 764px #fff, 1053px 1426px #fff, 958px 543px #fff,
    1707px 866px #fff, 1710px 1335px #fff, 1724px 1240px #fff, 1020px 540px #fff,
    1410px 1276px #fff, 633px 1677px #fff, 870px 315px #fff, 1011px 867px #fff,
    651px 825px #fff, 1974px 1709px #fff, 1340px 1112px #fff, 1471px 589px #fff,
    789px 1965px #fff, 667px 671px #fff, 159px 777px #fff, 1196px 1118px #fff,
    144px 1674px #fff, 1282px 1978px #fff, 542px 854px #fff, 966px 757px #fff,
    1821px 1881px #fff, 1215px 1595px #fff, 420px 493px #fff, 1573px 1683px #fff,
    1401px 1795px #fff, 4px 1812px #fff, 1186px 1240px #fff, 164px 1222px #fff,
    236px 1016px #fff, 1162px 298px #fff, 325px 1011px #fff, 1390px 1847px #fff,
    1948px 1840px #fff, 1558px 1495px #fff, 388px 1489px #fff, 506px 427px #fff,
    1721px 1072px #fff, 959px 422px #fff, 314px 262px #fff, 1721px 1142px #fff,
    746px 557px #fff, 1096px 553px #fff, 1172px 1814px #fff, 964px 826px #fff,
    1608px 1335px #fff, 167px 1297px #fff, 553px 864px #fff, 1826px 1589px #fff,
    1843px 1781px #fff, 519px 347px #fff, 615px 1998px #fff, 750px 838px #fff,
    44px 900px #fff, 663px 1022px #fff, 1523px 886px #fff, 252px 240px #fff,
    399px 1724px #fff, 353px 597px #fff, 767px 1798px #fff, 773px 1392px #fff,
    919px 450px #fff, 1091px 201px #fff, 1768px 544px #fff, 1253px 602px #fff,
    1366px 1587px #fff, 666px 1564px #fff, 377px 1444px #fff, 1794px 1040px #fff,
    1914px 1999px #fff, 4px 1076px #fff, 1597px 758px #fff, 1061px 1333px #fff,
    208px 852px #fff, 1029px 1375px #fff, 1624px 511px #fff, 1969px 1586px #fff,
    1543px 83px #fff, 899px 1024px #fff, 535px 1338px #fff, 1163px 39px #fff,
    1788px 477px #fff, 1352px 413px #fff, 327px 1171px #fff, 1234px 750px #fff,
    1405px 482px #fff, 1212px 1947px #fff, 425px 654px #fff, 867px 1745px #fff,
    953px 268px #fff, 119px 1664px #fff, 335px 1282px #fff, 1259px 1857px #fff,
    1328px 650px #fff, 1072px 1899px #fff, 829px 1048px #fff, 481px 608px #fff,
    745px 896px #fff, 1806px 565px #fff, 1557px 602px #fff, 407px 1115px #fff,
    318px 522px #fff, 1936px 1353px #fff, 1476px 786px #fff, 245px 1528px #fff,
    1586px 1733px #fff, 1816px 236px #fff, 547px 401px #fff, 1641px 1500px #fff,
    241px 1548px #fff, 633px 1286px #fff, 1365px 1306px #fff, 1706px 1631px #fff,
    991px 816px #fff, 1169px 900px #fff, 1330px 1924px #fff, 1741px 264px #fff,
    1784px 1615px #fff, 844px 1424px #fff, 613px 299px #fff, 427px 516px #fff,
    529px 267px #fff, 686px 1541px #fff, 497px 1113px #fff, 98px 1125px #fff,
    1192px 785px #fff, 472px 1633px #fff, 53px 1808px #fff, 1247px 930px #fff,
    221px 315px #fff, 1668px 604px #fff, 196px 1395px #fff, 1382px 873px #fff,
    734px 365px #fff, 1754px 1935px #fff, 1075px 491px #fff, 1796px 1786px #fff,
    1944px 1669px #fff, 609px 834px #fff, 1082px 1532px #fff, 862px 264px #fff,
    1733px 744px #fff, 1242px 1063px #fff, 1873px 666px #fff, 71px 1172px #fff,
    421px 1030px #fff, 987px 197px #fff, 1105px 1025px #fff, 1461px 1735px #fff,
    402px 720px #fff, 950px 388px #fff, 652px 86px #fff, 1775px 972px #fff,
    1005px 1115px #fff, 720px 461px #fff, 287px 1973px #fff, 604px 161px #fff,
    491px 1793px #fff, 679px 1555px #fff, 1801px 87px #fff, 649px 1204px #fff,
    90px 500px #fff, 1961px 547px #fff, 1039px 65px #fff, 368px 569px #fff,
    421px 1596px #fff, 1393px 668px #fff, 151px 1892px #fff, 1624px 1670px #fff,
    857px 498px #fff, 1290px 941px #fff, 720px 660px #fff, 732px 723px #fff,
    944px 473px #fff, 351px 1386px #fff, 1225px 660px #fff, 221px 885px #fff,
    416px 1139px #fff, 336px 1847px #fff, 1320px 16px #fff, 1929px 525px #fff,
    887px 1751px #fff, 786px 371px #fff, 1634px 979px #fff, 1198px 1376px #fff,
    987px 1086px #fff, 804px 1401px #fff, 415px 1029px #fff, 772px 1126px #fff,
    1163px 321px #fff, 296px 1780px #fff, 438px 818px #fff, 1609px 1928px #fff,
    1809px 408px #fff, 1554px 885px #fff, 1071px 743px #fff, 586px 1491px #fff,
    788px 714px #fff, 1351px 1348px #fff, 1891px 779px #fff, 1754px 1408px #fff,
    1841px 815px #fff, 6px 1111px #fff, 1799px 1756px #fff, 1811px 763px #fff,
    558px 211px #fff, 993px 750px #fff, 705px 1705px #fff, 1431px 181px #fff,
    343px 415px #fff, 1440px 478px #fff, 824px 762px #fff, 262px 1466px #fff,
    1969px 1841px #fff, 1151px 342px #fff, 1533px 1613px #fff, 144px 414px #fff,
    1197px 928px #fff, 1009px 1036px #fff, 1857px 818px #fff, 1425px 1641px #fff,
    1576px 988px #fff, 1746px 746px #fff, 263px 1449px #fff, 1600px 22px #fff,
    651px 1900px #fff, 652px 436px #fff, 1162px 41px #fff, 1372px 480px #fff,
    1213px 366px #fff, 1214px 1432px #fff, 1861px 1907px #fff,
    1220px 1357px #fff, 665px 1249px #fff, 1853px 816px #fff, 335px 1664px #fff,
    717px 77px #fff, 1957px 1954px #fff, 241px 1554px #fff, 366px 382px #fff,
    1433px 1053px #fff, 1302px 1229px #fff, 1623px 62px #fff, 1854px 38px #fff,
    1851px 1569px #fff, 796px 337px #fff, 243px 263px #fff, 1865px 122px #fff,
    647px 1313px #fff, 1294px 582px #fff, 461px 1343px #fff, 176px 1540px #fff,
    1941px 1717px #fff, 1936px 1202px #fff, 869px 1911px #fff, 612px 1101px #fff,
    442px 1934px #fff, 686px 1848px #fff, 1863px 218px #fff, 804px 282px #fff,
    1620px 1662px #fff, 1844px 910px #fff, 1264px 1076px #fff, 183px 72px #fff,
    403px 728px #fff, 1762px 1030px #fff, 1890px 1637px #fff, 162px 868px #fff,
    692px 1570px #fff, 1111px 1705px #fff, 1460px 1095px #fff, 1114px 535px #fff,
    808px 1071px #fff, 1161px 577px #fff, 1321px 1817px #fff, 1301px 877px #fff,
    522px 670px #fff, 957px 131px #fff, 623px 1460px #fff, 956px 1333px #fff,
    712px 1960px #fff, 1284px 395px #fff, 1537px 126px #fff, 1708px 531px #fff,
    133px 192px #fff, 1374px 1173px #fff, 1465px 1470px #fff, 1670px 253px #fff,
    1763px 234px #fff, 843px 1025px #fff, 1333px 51px #fff, 1310px 399px #fff,
    1122px 38px #fff, 779px 1268px #fff, 612px 275px #fff, 482px 1773px #fff,
    1708px 708px #fff, 899px 1743px #fff, 1045px 1800px #fff, 1869px 1054px #fff,
    249px 298px #fff, 1152px 992px #fff, 1917px 1853px #fff, 1434px 1747px #fff,
    1346px 23px #fff, 434px 294px #fff, 1589px 1729px #fff, 184px 1193px #fff,
    1794px 1599px #fff, 1451px 1920px #fff, 1324px 1587px #fff,
    1132px 1672px #fff, 1947px 1695px #fff, 1116px 224px #fff, 1957px 167px #fff,
    798px 647px #fff, 1670px 527px #fff, 1870px 159px #fff, 1697px 1963px #fff,
    214px 220px #fff, 1678px 471px #fff, 1367px 1248px #fff, 448px 330px #fff,
    1686px 1404px #fff, 623px 1832px #fff, 1190px 1465px #fff, 205px 809px #fff,
    121px 796px #fff, 122px 1760px #fff, 1630px 37px #fff, 188px 1563px #fff,
    687px 1354px #fff, 259px 1598px #fff, 241px 1896px #fff, 910px 235px #fff,
    279px 191px #fff, 1665px 1128px #fff, 318px 1135px #fff, 1310px 1147px #fff,
    1982px 796px #fff, 98px 37px #fff, 273px 240px #fff, 1094px 111px #fff,
    183px 1608px #fff, 341px 1089px #fff, 321px 1899px #fff, 516px 1316px #fff,
    960px 1890px #fff, 1267px 1651px #fff, 460px 1693px #fff, 556px 1465px #fff,
    1333px 734px #fff, 1438px 15px #fff, 724px 1721px #fff, 1531px 1104px #fff,
    26px 350px #fff, 193px 1804px #fff, 1823px 1367px #fff, 583px 73px #fff,
    781px 1295px #fff, 1564px 659px #fff, 1306px 1620px #fff, 37px 359px #fff,
    1319px 1694px #fff, 1465px 1362px #fff, 366px 770px #fff, 1858px 951px #fff,
    1899px 244px #fff, 398px 1704px #fff, 1438px 1689px #fff, 914px 1687px #fff,
    1921px 1965px #fff, 477px 661px #fff, 475px 505px #fff, 1391px 1189px #fff,
    1440px 1161px #fff, 1574px 1907px #fff, 815px 1867px #fff, 765px 1402px #fff,
    550px 1204px #fff, 661px 1413px #fff, 1761px 1210px #fff, 552px 514px #fff,
    1253px 443px #fff, 1593px 1001px #fff, 1760px 43px #fff, 1436px 1443px #fff,
    450px 120px #fff, 115px 790px #fff, 1435px 1710px #fff, 726px 1433px #fff,
    1882px 1603px #fff, 1367px 1765px #fff, 1322px 1427px #fff,
    1146px 1459px #fff, 1099px 891px #fff, 1197px 1587px #fff, 1815px 834px #fff,
    613px 672px #fff, 865px 766px #fff, 1093px 613px #fff, 73px 1569px #fff,
    694px 1562px #fff, 1687px 1719px #fff, 180px 454px #fff, 1105px 999px #fff,
    190px 826px #fff, 11px 278px #fff, 690px 1122px #fff, 1610px 663px #fff,
    1659px 415px #fff, 723px 856px #fff, 688px 326px #fff, 484px 1662px #fff,
    1242px 65px #fff, 1854px 758px #fff, 8px 268px #fff, 1484px 812px #fff,
    799px 1031px #fff, 1073px 1036px #fff, 1478px 444px #fff, 555px 1726px #fff,
    1313px 1055px #fff, 1423px 1008px #fff, 433px 1723px #fff, 1350px 106px #fff,
    880px 1341px #fff, 149px 78px #fff, 1041px 912px #fff, 284px 468px #fff,
    1754px 1097px #fff, 1072px 1517px #fff, 1332px 267px #fff,
    1739px 1279px #fff, 98px 1143px #fff, 1445px 967px #fff, 32px 764px #fff,
    385px 386px #fff, 746px 1056px #fff, 245px 1899px #fff, 1394px 395px #fff,
    1317px 868px #fff, 693px 1893px #fff, 1527px 1957px #fff, 1203px 360px #fff,
    1140px 1244px #fff, 402px 1809px #fff, 358px 493px #fff, 1605px 23px #fff,
    1242px 985px #fff, 777px 1412px #fff, 815px 334px #fff, 806px 1224px #fff,
    799px 1544px #fff, 1505px 1368px #fff, 1096px 120px #fff, 674px 383px #fff,
    568px 268px #fff, 806px 584px #fff, 143px 1971px #fff, 1132px 640px #fff,
    1273px 872px #fff, 260px 1570px #fff, 1278px 1495px #fff, 1021px 1573px #fff,
    1886px 1960px #fff, 1318px 600px #fff, 646px 1486px #fff, 1315px 742px #fff,
    45px 723px #fff, 1114px 171px #fff, 1694px 811px #fff, 1056px 1950px #fff,
    179px 355px #fff, 284px 111px #fff, 1155px 91px #fff, 1031px 1843px #fff,
    50px 561px #fff, 1204px 1784px #fff, 253px 240px #fff, 132px 887px #fff,
    661px 743px #fff, 572px 1514px #fff, 81px 316px #fff, 42px 825px #fff,
    1046px 756px #fff;
  animation: animStar 200s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 789px 19876px #fff, 1508px 16px #fff, 1905px 76px #fff,
    1346px 1188px #fff, 278px 1003px #fff, 1611px 326px #fff, 1144px 1697px #fff,
    918px 1328px #fff, 917px 1310px #fff, 1936px 53px #fff, 1253px 1081px #fff,
    137px 590px #fff, 56px 768px #fff, 112px 1462px #fff, 525px 1719px #fff,
    950px 1752px #fff, 868px 1111px #fff, 911px 797px #fff, 344px 991px #fff,
    1568px 46px #fff, 1198px 1891px #fff, 1887px 716px #fff, 398px 1px #fff,
    972px 1408px #fff, 8px 12px #fff, 817px 1230px #fff, 391px 1976px #fff,
    156px 727px #fff, 1431px 216px #fff, 1234px 1929px #fff, 1227px 1697px #fff,
    1045px 719px #fff, 16px 360px #fff, 1925px 896px #fff, 1612px 1819px #fff,
    1701px 575px #fff, 1666px 779px #fff, 1602px 1910px #fff, 272px 1181px #fff,
    1764px 1674px #fff, 380px 473px #fff, 1960px 219px #fff, 1256px 63px #fff,
    1734px 1572px #fff, 1454px 732px #fff, 1280px 1957px #fff, 315px 1262px #fff,
    500px 127px #fff, 1341px 1246px #fff, 791px 41px #fff, 1399px 728px #fff,
    1641px 293px #fff, 123px 273px #fff, 495px 106px #fff, 937px 1201px #fff,
    1502px 1987px #fff, 940px 171px #fff, 1819px 1261px #fff, 899px 185px #fff,
    608px 1988px #fff, 1123px 1336px #fff, 1742px 1537px #fff, 433px 134px #fff,
    1684px 1512px #fff, 1771px 622px #fff, 42px 853px #fff, 1889px 765px #fff,
    720px 198px #fff, 1524px 292px #fff, 1264px 155px #fff, 194px 1389px #fff,
    1511px 1649px #fff, 1662px 1507px #fff, 1355px 163px #fff, 1560px 700px #fff,
    186px 742px #fff, 870px 1532px #fff, 701px 824px #fff, 95px 1145px #fff,
    1984px 204px #fff, 1896px 434px #fff, 1692px 657px #fff, 530px 448px #fff,
    1928px 111px #fff, 64px 80px #fff, 620px 406px #fff, 1364px 125px #fff,
    1437px 1004px #fff, 487px 390px #fff, 816px 762px #fff, 1009px 1728px #fff,
    1801px 846px #fff, 1189px 1539px #fff, 1526px 627px #fff, 271px 1499px #fff,
    718px 1150px #fff, 1206px 623px #fff, 1566px 239px #fff, 1465px 1446px #fff,
    1113px 813px #fff, 726px 1767px #fff, 1456px 1895px #fff, 49px 1639px #fff,
    1130px 1975px #fff, 1255px 183px #fff, 1655px 956px #fff, 1447px 632px #fff,
    542px 1698px #fff, 399px 145px #fff, 913px 1617px #fff, 1718px 290px #fff,
    1128px 1142px #fff, 1993px 18px #fff, 1933px 1758px #fff, 1128px 697px #fff,
    1093px 305px #fff, 423px 1579px #fff, 157px 637px #fff, 22px 115px #fff,
    1907px 183px #fff, 864px 1857px #fff, 1581px 1034px #fff, 762px 1988px #fff,
    1687px 921px #fff, 1534px 1239px #fff, 132px 591px #fff, 795px 1226px #fff,
    1351px 954px #fff, 131px 934px #fff, 1865px 138px #fff, 1430px 964px #fff,
    1922px 1243px #fff, 122px 1235px #fff, 388px 302px #fff, 770px 460px #fff,
    851px 704px #fff, 150px 1859px #fff, 1805px 180px #fff, 956px 820px #fff,
    1021px 1381px #fff, 1511px 504px #fff, 213px 114px #fff, 1566px 733px #fff,
    249px 1687px #fff, 860px 1267px #fff, 8px 366px #fff, 393px 1506px #fff,
    460px 1113px #fff, 218px 1574px #fff, 133px 1525px #fff, 1685px 313px #fff,
    1072px 1184px #fff, 472px 1122px #fff, 1932px 1912px #fff, 920px 1230px #fff,
    303px 1917px #fff, 1715px 595px #fff, 1034px 1018px #fff, 1792px 1182px #fff,
    667px 279px #fff, 1874px 1664px #fff, 1007px 1996px #fff, 151px 1051px #fff,
    1551px 1071px #fff, 212px 832px #fff, 162px 1392px #fff, 866px 1893px #fff,
    1165px 602px #fff, 746px 756px #fff, 444px 788px #fff, 1551px 1002px #fff,
    501px 1894px #fff, 466px 1986px #fff, 1997px 587px #fff, 201px 1370px #fff,
    1731px 548px #fff, 239px 1150px #fff, 1819px 544px #fff, 605px 1557px #fff,
    1129px 1419px #fff, 87px 755px #fff, 1334px 930px #fff, 774px 307px #fff,
    1101px 1607px #fff, 1266px 573px #fff, 213px 1352px #fff, 1365px 73px #fff,
    136px 546px #fff, 398px 1970px #fff, 1731px 227px #fff, 205px 1944px #fff,
    594px 1974px #fff, 1537px 1218px #fff, 827px 1987px #fff, 2000px 211px #fff,
    99px 1559px #fff, 601px 289px #fff, 139px 52px #fff, 1301px 1359px #fff,
    797px 1526px #fff, 1612px 498px #fff, 681px 1387px #fff, 1026px 1914px #fff,
    1538px 1905px #fff, 858px 1452px #fff, 1377px 1151px #fff, 697px 693px #fff,
    466px 409px #fff, 1225px 33px #fff, 1629px 504px #fff, 1337px 738px #fff,
    1778px 1756px #fff, 453px 764px #fff, 1053px 1426px #fff, 958px 543px #fff,
    1707px 866px #fff, 1710px 1335px #fff, 1724px 1240px #fff, 1020px 540px #fff,
    1410px 1276px #fff, 633px 1677px #fff, 870px 315px #fff, 1011px 867px #fff,
    651px 825px #fff, 1974px 1709px #fff, 1340px 1112px #fff, 1471px 589px #fff,
    789px 1965px #fff, 667px 671px #fff, 159px 777px #fff, 1196px 1118px #fff,
    144px 1674px #fff, 1282px 1978px #fff, 542px 854px #fff, 966px 757px #fff,
    1821px 1881px #fff, 1215px 1595px #fff, 420px 493px #fff, 1573px 1683px #fff,
    1401px 1795px #fff, 4px 1812px #fff, 1186px 1240px #fff, 164px 1222px #fff,
    236px 1016px #fff, 1162px 298px #fff, 325px 1011px #fff, 1390px 1847px #fff,
    1948px 1840px #fff, 1558px 1495px #fff, 388px 1489px #fff, 506px 427px #fff,
    1721px 1072px #fff, 959px 422px #fff, 314px 262px #fff, 1721px 1142px #fff,
    746px 557px #fff, 1096px 553px #fff, 1172px 1814px #fff, 964px 826px #fff,
    1608px 1335px #fff, 167px 1297px #fff, 553px 864px #fff, 1826px 1589px #fff,
    1843px 1781px #fff, 519px 347px #fff, 615px 1998px #fff, 750px 838px #fff,
    44px 900px #fff, 663px 1022px #fff, 1523px 886px #fff, 252px 240px #fff,
    399px 1724px #fff, 353px 597px #fff, 767px 1798px #fff, 773px 1392px #fff,
    919px 450px #fff, 1091px 201px #fff, 1768px 544px #fff, 1253px 602px #fff,
    1366px 1587px #fff, 666px 1564px #fff, 377px 1444px #fff, 1794px 1040px #fff,
    1914px 1999px #fff, 4px 1076px #fff, 1597px 758px #fff, 1061px 1333px #fff,
    208px 852px #fff, 1029px 1375px #fff, 1624px 511px #fff, 1969px 1586px #fff,
    1543px 83px #fff, 899px 1024px #fff, 535px 1338px #fff, 1163px 39px #fff,
    1788px 477px #fff, 1352px 413px #fff, 327px 1171px #fff, 1234px 750px #fff,
    1405px 482px #fff, 1212px 1947px #fff, 425px 654px #fff, 867px 1745px #fff,
    953px 268px #fff, 119px 1664px #fff, 335px 1282px #fff, 1259px 1857px #fff,
    1328px 650px #fff, 1072px 1899px #fff, 829px 1048px #fff, 481px 608px #fff,
    745px 896px #fff, 1806px 565px #fff, 1557px 602px #fff, 407px 1115px #fff,
    318px 522px #fff, 1936px 1353px #fff, 1476px 786px #fff, 245px 1528px #fff,
    1586px 1733px #fff, 1816px 236px #fff, 547px 401px #fff, 1641px 1500px #fff,
    241px 1548px #fff, 633px 1286px #fff, 1365px 1306px #fff, 1706px 1631px #fff,
    991px 816px #fff, 1169px 900px #fff, 1330px 1924px #fff, 1741px 264px #fff,
    1784px 1615px #fff, 844px 1424px #fff, 613px 299px #fff, 427px 516px #fff,
    529px 267px #fff, 686px 1541px #fff, 497px 1113px #fff, 98px 1125px #fff,
    1192px 785px #fff, 472px 1633px #fff, 53px 1808px #fff, 1247px 930px #fff,
    221px 315px #fff, 1668px 604px #fff, 196px 1395px #fff, 1382px 873px #fff,
    734px 365px #fff, 1754px 1935px #fff, 1075px 491px #fff, 1796px 1786px #fff,
    1944px 1669px #fff, 609px 834px #fff, 1082px 1532px #fff, 862px 264px #fff,
    1733px 744px #fff, 1242px 1063px #fff, 1873px 666px #fff, 71px 1172px #fff,
    421px 1030px #fff, 987px 197px #fff, 1105px 1025px #fff, 1461px 1735px #fff,
    402px 720px #fff, 950px 388px #fff, 652px 86px #fff, 1775px 972px #fff,
    1005px 1115px #fff, 720px 461px #fff, 287px 1973px #fff, 604px 161px #fff,
    491px 1793px #fff, 679px 1555px #fff, 1801px 87px #fff, 649px 1204px #fff,
    90px 500px #fff, 1961px 547px #fff, 1039px 65px #fff, 368px 569px #fff,
    421px 1596px #fff, 1393px 668px #fff, 151px 1892px #fff, 1624px 1670px #fff,
    857px 498px #fff, 1290px 941px #fff, 720px 660px #fff, 732px 723px #fff,
    944px 473px #fff, 351px 1386px #fff, 1225px 660px #fff, 221px 885px #fff,
    416px 1139px #fff, 336px 1847px #fff, 1320px 16px #fff, 1929px 525px #fff,
    887px 1751px #fff, 786px 371px #fff, 1634px 979px #fff, 1198px 1376px #fff,
    987px 1086px #fff, 804px 1401px #fff, 415px 1029px #fff, 772px 1126px #fff,
    1163px 321px #fff, 296px 1780px #fff, 438px 818px #fff, 1609px 1928px #fff,
    1809px 408px #fff, 1554px 885px #fff, 1071px 743px #fff, 586px 1491px #fff,
    788px 714px #fff, 1351px 1348px #fff, 1891px 779px #fff, 1754px 1408px #fff,
    1841px 815px #fff, 6px 1111px #fff, 1799px 1756px #fff, 1811px 763px #fff,
    558px 211px #fff, 993px 750px #fff, 705px 1705px #fff, 1431px 181px #fff,
    343px 415px #fff, 1440px 478px #fff, 824px 762px #fff, 262px 1466px #fff,
    1969px 1841px #fff, 1151px 342px #fff, 1533px 1613px #fff, 144px 414px #fff,
    1197px 928px #fff, 1009px 1036px #fff, 1857px 818px #fff, 1425px 1641px #fff,
    1576px 988px #fff, 1746px 746px #fff, 263px 1449px #fff, 1600px 22px #fff,
    651px 1900px #fff, 652px 436px #fff, 1162px 41px #fff, 1372px 480px #fff,
    1213px 366px #fff, 1214px 1432px #fff, 1861px 1907px #fff,
    1220px 1357px #fff, 665px 1249px #fff, 1853px 816px #fff, 335px 1664px #fff,
    717px 77px #fff, 1957px 1954px #fff, 241px 1554px #fff, 366px 382px #fff,
    1433px 1053px #fff, 1302px 1229px #fff, 1623px 62px #fff, 1854px 38px #fff,
    1851px 1569px #fff, 796px 337px #fff, 243px 263px #fff, 1865px 122px #fff,
    647px 1313px #fff, 1294px 582px #fff, 461px 1343px #fff, 176px 1540px #fff,
    1941px 1717px #fff, 1936px 1202px #fff, 869px 1911px #fff, 612px 1101px #fff,
    442px 1934px #fff, 686px 1848px #fff, 1863px 218px #fff, 804px 282px #fff,
    1620px 1662px #fff, 1844px 910px #fff, 1264px 1076px #fff, 183px 72px #fff,
    403px 728px #fff, 1762px 1030px #fff, 1890px 1637px #fff, 162px 868px #fff,
    692px 1570px #fff, 1111px 1705px #fff, 1460px 1095px #fff, 1114px 535px #fff,
    808px 1071px #fff, 1161px 577px #fff, 1321px 1817px #fff, 1301px 877px #fff,
    522px 670px #fff, 957px 131px #fff, 623px 1460px #fff, 956px 1333px #fff,
    712px 1960px #fff, 1284px 395px #fff, 1537px 126px #fff, 1708px 531px #fff,
    133px 192px #fff, 1374px 1173px #fff, 1465px 1470px #fff, 1670px 253px #fff,
    1763px 234px #fff, 843px 1025px #fff, 1333px 51px #fff, 1310px 399px #fff,
    1122px 38px #fff, 779px 1268px #fff, 612px 275px #fff, 482px 1773px #fff,
    1708px 708px #fff, 899px 1743px #fff, 1045px 1800px #fff, 1869px 1054px #fff,
    249px 298px #fff, 1152px 992px #fff, 1917px 1853px #fff, 1434px 1747px #fff,
    1346px 23px #fff, 434px 294px #fff, 1589px 1729px #fff, 184px 1193px #fff,
    1794px 1599px #fff, 1451px 1920px #fff, 1324px 1587px #fff,
    1132px 1672px #fff, 1947px 1695px #fff, 1116px 224px #fff, 1957px 167px #fff,
    798px 647px #fff, 1670px 527px #fff, 1870px 159px #fff, 1697px 1963px #fff,
    214px 220px #fff, 1678px 471px #fff, 1367px 1248px #fff, 448px 330px #fff,
    1686px 1404px #fff, 623px 1832px #fff, 1190px 1465px #fff, 205px 809px #fff,
    121px 796px #fff, 122px 1760px #fff, 1630px 37px #fff, 188px 1563px #fff,
    687px 1354px #fff, 259px 1598px #fff, 241px 1896px #fff, 910px 235px #fff,
    279px 191px #fff, 1665px 1128px #fff, 318px 1135px #fff, 1310px 1147px #fff,
    1982px 796px #fff, 98px 37px #fff, 273px 240px #fff, 1094px 111px #fff,
    183px 1608px #fff, 341px 1089px #fff, 321px 1899px #fff, 516px 1316px #fff,
    960px 1890px #fff, 1267px 1651px #fff, 460px 1693px #fff, 556px 1465px #fff,
    1333px 734px #fff, 1438px 15px #fff, 724px 1721px #fff, 1531px 1104px #fff,
    26px 350px #fff, 193px 1804px #fff, 1823px 1367px #fff, 583px 73px #fff,
    781px 1295px #fff, 1564px 659px #fff, 1306px 1620px #fff, 37px 359px #fff,
    1319px 1694px #fff, 1465px 1362px #fff, 366px 770px #fff, 1858px 951px #fff,
    1899px 244px #fff, 398px 1704px #fff, 1438px 1689px #fff, 914px 1687px #fff,
    1921px 1965px #fff, 477px 661px #fff, 475px 505px #fff, 1391px 1189px #fff,
    1440px 1161px #fff, 1574px 1907px #fff, 815px 1867px #fff, 765px 1402px #fff,
    550px 1204px #fff, 661px 1413px #fff, 1761px 1210px #fff, 552px 514px #fff,
    1253px 443px #fff, 1593px 1001px #fff, 1760px 43px #fff, 1436px 1443px #fff,
    450px 120px #fff, 115px 790px #fff, 1435px 1710px #fff, 726px 1433px #fff,
    1882px 1603px #fff, 1367px 1765px #fff, 1322px 1427px #fff,
    1146px 1459px #fff, 1099px 891px #fff, 1197px 1587px #fff, 1815px 834px #fff,
    613px 672px #fff, 865px 766px #fff, 1093px 613px #fff, 73px 1569px #fff,
    694px 1562px #fff, 1687px 1719px #fff, 180px 454px #fff, 1105px 999px #fff,
    190px 826px #fff, 11px 278px #fff, 690px 1122px #fff, 1610px 663px #fff,
    1659px 415px #fff, 723px 856px #fff, 688px 326px #fff, 484px 1662px #fff,
    1242px 65px #fff, 1854px 758px #fff, 8px 268px #fff, 1484px 812px #fff,
    799px 1031px #fff, 1073px 1036px #fff, 1478px 444px #fff, 555px 1726px #fff,
    1313px 1055px #fff, 1423px 1008px #fff, 433px 1723px #fff, 1350px 106px #fff,
    880px 1341px #fff, 149px 78px #fff, 1041px 912px #fff, 284px 468px #fff,
    1754px 1097px #fff, 1072px 1517px #fff, 1332px 267px #fff,
    1739px 1279px #fff, 98px 1143px #fff, 1445px 967px #fff, 32px 764px #fff,
    385px 386px #fff, 746px 1056px #fff, 245px 1899px #fff, 1394px 395px #fff,
    1317px 868px #fff, 693px 1893px #fff, 1527px 1957px #fff, 1203px 360px #fff,
    1140px 1244px #fff, 402px 1809px #fff, 358px 493px #fff, 1605px 23px #fff,
    1242px 985px #fff, 777px 1412px #fff, 815px 334px #fff, 806px 1224px #fff,
    799px 1544px #fff, 1505px 1368px #fff, 1096px 120px #fff, 674px 383px #fff,
    568px 268px #fff, 806px 584px #fff, 143px 1971px #fff, 1132px 640px #fff,
    1273px 872px #fff, 260px 1570px #fff, 1278px 1495px #fff, 1021px 1573px #fff,
    1886px 1960px #fff, 1318px 600px #fff, 646px 1486px #fff, 1315px 742px #fff,
    45px 723px #fff, 1114px 171px #fff, 1694px 811px #fff, 1056px 1950px #fff,
    179px 355px #fff, 284px 111px #fff, 1155px 91px #fff, 1031px 1843px #fff,
    50px 561px #fff, 1204px 1784px #fff, 253px 240px #fff, 132px 887px #fff,
    661px 743px #fff, 572px 1514px #fff, 81px 316px #fff, 42px 825px #fff,
    1046px 756px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1601px 19502px #fff, 517px 1253px #fff, 907px 113px #fff,
    1542px 1271px #fff, 1131px 1428px #fff, 1023px 1015px #fff,
    336px 1666px #fff, 1975px 1049px #fff, 1651px 1372px #fff,
    1264px 1488px #fff, 171px 1639px #fff, 1923px 1462px #fff,
    1421px 1319px #fff, 974px 1290px #fff, 514px 1135px #fff, 36px 602px #fff,
    67px 35px #fff, 442px 1298px #fff, 747px 797px #fff, 842px 1421px #fff,
    1535px 1966px #fff, 88px 1459px #fff, 1561px 1437px #fff, 738px 720px #fff,
    550px 1115px #fff, 15px 1898px #fff, 1726px 1886px #fff, 339px 1147px #fff,
    1704px 1365px #fff, 195px 1717px #fff, 199px 118px #fff, 240px 938px #fff,
    1021px 1365px #fff, 486px 1640px #fff, 1572px 973px #fff, 651px 1755px #fff,
    706px 1469px #fff, 475px 1950px #fff, 533px 1622px #fff, 1485px 1487px #fff,
    1625px 1068px #fff, 1590px 1583px #fff, 1302px 916px #fff,
    1715px 1628px #fff, 752px 429px #fff, 408px 393px #fff, 1737px 1532px #fff,
    1451px 1079px #fff, 748px 513px #fff, 597px 969px #fff, 106px 714px #fff,
    1036px 1873px #fff, 396px 1103px #fff, 1397px 768px #fff, 1619px 761px #fff,
    1698px 332px #fff, 1390px 500px #fff, 1250px 1523px #fff, 240px 1430px #fff,
    1105px 1951px #fff, 1919px 768px #fff, 1102px 1140px #fff, 50px 811px #fff,
    1148px 764px #fff, 804px 55px #fff, 1426px 1880px #fff, 1559px 248px #fff,
    1195px 988px #fff, 1808px 1818px #fff, 1174px 1779px #fff,
    1530px 1335px #fff, 561px 1119px #fff, 953px 1461px #fff, 138px 1588px #fff,
    1546px 123px #fff, 57px 914px #fff, 1907px 1526px #fff, 1574px 313px #fff,
    625px 1218px #fff, 1085px 1926px #fff, 1609px 140px #fff, 1054px 804px #fff,
    1952px 753px #fff, 572px 1449px #fff, 1007px 1195px #fff, 1408px 232px #fff,
    226px 604px #fff, 282px 1013px #fff, 543px 626px #fff, 835px 747px #fff,
    197px 1062px #fff, 1641px 961px #fff, 1162px 618px #fff, 564px 1798px #fff,
    1511px 1955px #fff, 1020px 731px #fff, 1901px 811px #fff, 1272px 383px #fff,
    811px 43px #fff, 555px 1390px #fff, 1337px 169px #fff, 1357px 880px #fff,
    1001px 1728px #fff, 738px 830px #fff, 954px 1685px #fff, 325px 663px #fff,
    243px 1766px #fff, 373px 498px #fff, 44px 1111px #fff, 680px 91px #fff,
    845px 1012px #fff, 879px 1264px #fff, 652px 940px #fff, 308px 481px #fff,
    1994px 731px #fff, 935px 1602px #fff, 1381px 1423px #fff, 197px 214px #fff,
    1817px 128px #fff, 1361px 128px #fff, 1755px 972px #fff, 525px 657px #fff,
    555px 1038px #fff, 1217px 1450px #fff, 1812px 677px #fff, 1910px 55px #fff,
    756px 1632px #fff, 1228px 1692px #fff, 1682px 532px #fff, 1287px 1069px #fff,
    1405px 1654px #fff, 1795px 438px #fff, 124px 367px #fff, 1771px 539px #fff,
    579px 1756px #fff, 734px 1573px #fff, 587px 1964px #fff, 1089px 1868px #fff,
    899px 1181px #fff, 1793px 467px #fff, 811px 1462px #fff, 1699px 447px #fff,
    1840px 782px #fff, 1006px 68px #fff, 781px 1723px #fff, 1716px 357px #fff,
    52px 967px #fff, 403px 717px #fff, 1854px 306px #fff, 1264px 1174px #fff,
    1697px 560px #fff, 1435px 1977px #fff, 65px 420px #fff, 1899px 422px #fff,
    236px 1262px #fff, 159px 991px #fff, 1357px 1109px #fff, 833px 1049px #fff,
    1202px 443px #fff, 611px 974px #fff, 720px 1930px #fff, 633px 1007px #fff,
    1340px 1472px #fff, 68px 368px #fff, 1998px 185px #fff, 1809px 819px #fff,
    1505px 1692px #fff, 152px 1631px #fff, 840px 1739px #fff, 134px 376px #fff,
    407px 280px #fff, 1208px 232px #fff, 737px 1084px #fff, 1929px 1283px #fff,
    1788px 1085px #fff, 912px 1624px #fff, 398px 1591px #fff, 1163px 1540px #fff,
    125px 828px #fff, 1120px 1940px #fff, 678px 959px #fff, 295px 1561px #fff,
    496px 1350px #fff, 170px 602px #fff, 1481px 772px #fff, 761px 1833px #fff,
    1274px 786px #fff, 1304px 1987px #fff, 735px 1723px #fff, 352px 1197px #fff,
    681px 1274px #fff, 1073px 983px #fff, 445px 747px #fff, 457px 803px #fff,
    286px 1695px #fff, 1409px 946px #fff, 697px 1796px #fff, 894px 643px #fff,
    471px 1850px #fff, 980px 1878px #fff;
  animation: animStar 400s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1601px 19502px #fff, 517px 1253px #fff, 907px 113px #fff,
    1542px 1271px #fff, 1131px 1428px #fff, 1023px 1015px #fff,
    336px 1666px #fff, 1975px 1049px #fff, 1651px 1372px #fff,
    1264px 1488px #fff, 171px 1639px #fff, 1923px 1462px #fff,
    1421px 1319px #fff, 974px 1290px #fff, 514px 1135px #fff, 36px 602px #fff,
    67px 35px #fff, 442px 1298px #fff, 747px 797px #fff, 842px 1421px #fff,
    1535px 1966px #fff, 88px 1459px #fff, 1561px 1437px #fff, 738px 720px #fff,
    550px 1115px #fff, 15px 1898px #fff, 1726px 1886px #fff, 339px 1147px #fff,
    1704px 1365px #fff, 195px 1717px #fff, 199px 118px #fff, 240px 938px #fff,
    1021px 1365px #fff, 486px 1640px #fff, 1572px 973px #fff, 651px 1755px #fff,
    706px 1469px #fff, 475px 1950px #fff, 533px 1622px #fff, 1485px 1487px #fff,
    1625px 1068px #fff, 1590px 1583px #fff, 1302px 916px #fff,
    1715px 1628px #fff, 752px 429px #fff, 408px 393px #fff, 1737px 1532px #fff,
    1451px 1079px #fff, 748px 513px #fff, 597px 969px #fff, 106px 714px #fff,
    1036px 1873px #fff, 396px 1103px #fff, 1397px 768px #fff, 1619px 761px #fff,
    1698px 332px #fff, 1390px 500px #fff, 1250px 1523px #fff, 240px 1430px #fff,
    1105px 1951px #fff, 1919px 768px #fff, 1102px 1140px #fff, 50px 811px #fff,
    1148px 764px #fff, 804px 55px #fff, 1426px 1880px #fff, 1559px 248px #fff,
    1195px 988px #fff, 1808px 1818px #fff, 1174px 1779px #fff,
    1530px 1335px #fff, 561px 1119px #fff, 953px 1461px #fff, 138px 1588px #fff,
    1546px 123px #fff, 57px 914px #fff, 1907px 1526px #fff, 1574px 313px #fff,
    625px 1218px #fff, 1085px 1926px #fff, 1609px 140px #fff, 1054px 804px #fff,
    1952px 753px #fff, 572px 1449px #fff, 1007px 1195px #fff, 1408px 232px #fff,
    226px 604px #fff, 282px 1013px #fff, 543px 626px #fff, 835px 747px #fff,
    197px 1062px #fff, 1641px 961px #fff, 1162px 618px #fff, 564px 1798px #fff,
    1511px 1955px #fff, 1020px 731px #fff, 1901px 811px #fff, 1272px 383px #fff,
    811px 43px #fff, 555px 1390px #fff, 1337px 169px #fff, 1357px 880px #fff,
    1001px 1728px #fff, 738px 830px #fff, 954px 1685px #fff, 325px 663px #fff,
    243px 1766px #fff, 373px 498px #fff, 44px 1111px #fff, 680px 91px #fff,
    845px 1012px #fff, 879px 1264px #fff, 652px 940px #fff, 308px 481px #fff,
    1994px 731px #fff, 935px 1602px #fff, 1381px 1423px #fff, 197px 214px #fff,
    1817px 128px #fff, 1361px 128px #fff, 1755px 972px #fff, 525px 657px #fff,
    555px 1038px #fff, 1217px 1450px #fff, 1812px 677px #fff, 1910px 55px #fff,
    756px 1632px #fff, 1228px 1692px #fff, 1682px 532px #fff, 1287px 1069px #fff,
    1405px 1654px #fff, 1795px 438px #fff, 124px 367px #fff, 1771px 539px #fff,
    579px 1756px #fff, 734px 1573px #fff, 587px 1964px #fff, 1089px 1868px #fff,
    899px 1181px #fff, 1793px 467px #fff, 811px 1462px #fff, 1699px 447px #fff,
    1840px 782px #fff, 1006px 68px #fff, 781px 1723px #fff, 1716px 357px #fff,
    52px 967px #fff, 403px 717px #fff, 1854px 306px #fff, 1264px 1174px #fff,
    1697px 560px #fff, 1435px 1977px #fff, 65px 420px #fff, 1899px 422px #fff,
    236px 1262px #fff, 159px 991px #fff, 1357px 1109px #fff, 833px 1049px #fff,
    1202px 443px #fff, 611px 974px #fff, 720px 1930px #fff, 633px 1007px #fff,
    1340px 1472px #fff, 68px 368px #fff, 1998px 185px #fff, 1809px 819px #fff,
    1505px 1692px #fff, 152px 1631px #fff, 840px 1739px #fff, 134px 376px #fff,
    407px 280px #fff, 1208px 232px #fff, 737px 1084px #fff, 1929px 1283px #fff,
    1788px 1085px #fff, 912px 1624px #fff, 398px 1591px #fff, 1163px 1540px #fff,
    125px 828px #fff, 1120px 1940px #fff, 678px 959px #fff, 295px 1561px #fff,
    496px 1350px #fff, 170px 602px #fff, 1481px 772px #fff, 761px 1833px #fff,
    1274px 786px #fff, 1304px 1987px #fff, 735px 1723px #fff, 352px 1197px #fff,
    681px 1274px #fff, 1073px 983px #fff, 445px 747px #fff, 457px 803px #fff,
    286px 1695px #fff, 1409px 946px #fff, 697px 1796px #fff, 894px 643px #fff,
    471px 1850px #fff, 980px 1878px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 532px 6512px #fff, 1695px 1558px #fff, 784px 988px #fff,
    1733px 1833px #fff, 1263px 1636px #fff, 707px 1175px #fff,
    1907px 1257px #fff, 370px 378px #fff, 1194px 1954px #fff, 209px 747px #fff,
    872px 1073px #fff, 1554px 366px #fff, 1173px 1480px #fff, 288px 340px #fff,
    17px 728px #fff, 443px 1089px #fff, 68px 892px #fff, 496px 1465px #fff,
    1724px 332px #fff, 535px 424px #fff, 1411px 1326px #fff, 1405px 274px #fff,
    1049px 281px #fff, 907px 434px #fff, 1885px 75px #fff, 1518px 1825px #fff,
    6px 494px #fff, 124px 1364px #fff, 854px 574px #fff, 652px 124px #fff,
    1884px 163px #fff, 1033px 930px #fff, 279px 1273px #fff, 212px 37px #fff,
    1808px 1474px #fff, 833px 99px #fff, 1780px 1857px #fff, 969px 1807px #fff,
    1675px 913px #fff, 1391px 1173px #fff, 68px 1164px #fff, 45px 650px #fff,
    309px 830px #fff, 1628px 1410px #fff, 1025px 759px #fff, 1218px 1622px #fff,
    1141px 1780px #fff, 1883px 5px #fff, 360px 1713px #fff, 1332px 312px #fff,
    685px 1320px #fff, 1244px 887px #fff, 1339px 1571px #fff, 1733px 840px #fff,
    1367px 1992px #fff, 1596px 222px #fff, 825px 199px #fff, 1229px 1334px #fff,
    1004px 1121px #fff, 1567px 564px #fff, 484px 475px #fff, 741px 428px #fff,
    1852px 489px #fff, 355px 1965px #fff, 846px 1278px #fff, 391px 1382px #fff,
    1458px 852px #fff, 1682px 594px #fff, 1868px 1583px #fff, 760px 485px #fff,
    813px 1270px #fff, 1488px 1560px #fff, 1281px 1054px #fff,
    1230px 1514px #fff, 182px 293px #fff, 1843px 1593px #fff, 1724px 1720px #fff,
    626px 626px #fff, 96px 800px #fff, 1572px 268px #fff, 714px 1940px #fff,
    855px 1610px #fff, 1547px 1338px #fff, 236px 1625px #fff, 1911px 695px #fff,
    1574px 1970px #fff, 1873px 1053px #fff, 556px 1984px #fff,
    1299px 1012px #fff, 764px 1478px #fff, 1730px 949px #fff, 668px 392px #fff,
    64px 517px #fff, 715px 1245px #fff, 821px 774px #fff, 1385px 643px #fff,
    367px 688px #fff, 246px 1678px #fff, 962px 874px #fff, 339px 1999px #fff;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 532px 6512px #fff, 1695px 1558px #fff, 784px 988px #fff,
    1733px 1833px #fff, 1263px 1636px #fff, 707px 1175px #fff,
    1907px 1257px #fff, 370px 378px #fff, 1194px 1954px #fff, 209px 747px #fff,
    872px 1073px #fff, 1554px 366px #fff, 1173px 1480px #fff, 288px 340px #fff,
    17px 728px #fff, 443px 1089px #fff, 68px 892px #fff, 496px 1465px #fff,
    1724px 332px #fff, 535px 424px #fff, 1411px 1326px #fff, 1405px 274px #fff,
    1049px 281px #fff, 907px 434px #fff, 1885px 75px #fff, 1518px 1825px #fff,
    6px 494px #fff, 124px 1364px #fff, 854px 574px #fff, 652px 124px #fff,
    1884px 163px #fff, 1033px 930px #fff, 279px 1273px #fff, 212px 37px #fff,
    1808px 1474px #fff, 833px 99px #fff, 1780px 1857px #fff, 969px 1807px #fff,
    1675px 913px #fff, 1391px 1173px #fff, 68px 1164px #fff, 45px 650px #fff,
    309px 830px #fff, 1628px 1410px #fff, 1025px 759px #fff, 1218px 1622px #fff,
    1141px 1780px #fff, 1883px 5px #fff, 360px 1713px #fff, 1332px 312px #fff,
    685px 1320px #fff, 1244px 887px #fff, 1339px 1571px #fff, 1733px 840px #fff,
    1367px 1992px #fff, 1596px 222px #fff, 825px 199px #fff, 1229px 1334px #fff,
    1004px 1121px #fff, 1567px 564px #fff, 484px 475px #fff, 741px 428px #fff,
    1852px 489px #fff, 355px 1965px #fff, 846px 1278px #fff, 391px 1382px #fff,
    1458px 852px #fff, 1682px 594px #fff, 1868px 1583px #fff, 760px 485px #fff,
    813px 1270px #fff, 1488px 1560px #fff, 1281px 1054px #fff,
    1230px 1514px #fff, 182px 293px #fff, 1843px 1593px #fff, 1724px 1720px #fff,
    626px 626px #fff, 96px 800px #fff, 1572px 268px #fff, 714px 1940px #fff,
    855px 1610px #fff, 1547px 1338px #fff, 236px 1625px #fff, 1911px 695px #fff,
    1574px 1970px #fff, 1873px 1053px #fff, 556px 1984px #fff,
    1299px 1012px #fff, 764px 1478px #fff, 1730px 949px #fff, 668px 392px #fff,
    64px 517px #fff, 715px 1245px #fff, 821px 774px #fff, 1385px 643px #fff,
    367px 688px #fff, 246px 1678px #fff, 962px 874px #fff, 339px 1999px #fff;
}

@media (max-width: 600px) {
  .eventHead {
    margin-top: -60px !important;
    font-size: 40px;
  }
  /* .backgrounds .landing-background {
    background: url("../assets/backgrounds/BG.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  } */
  .backgrounds .landing-background .background-ele {
    width: 100%;
    left: 0%;
    top: 47.5%;
    animation: none;
  }
  .backgrounds .landing-background .background-ele2 {
    top: 75%;
    width: 200vw;
    height: 200vw;
    left: -50%;
  }
  .backgrounds .landing-background .background-ele2 img {
    transform: translateX(50%);
    animation: none;
    height: 25vh;
  }
  .backgrounds .landing-background .background-ele3 {
    top: 75%;
    width: 200vw;
    height: 200vw;
    left: -50%;
  }
  .grid-background {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #333333 1px, transparent 1px),
      linear-gradient(to bottom, #333333 1px, transparent 1px);
  }
}

/* .background-ele {
  animation: moveAstro 30s linear infinite;
} */

/* @keyframes noise-background-effect {
    0%,100% {
        transform: translate(0);
    }
    33% {
        transform: translate(-5%);
    }
    66% {
        transform: translate(5%);
    }
} */

@keyframes noise-background-effect {
  0%,
  100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes rotateMoon {
  from {
    transform: translate(99%, 0%);
  }
  to {
    transform: translate(99%, -55%);
  }
}

@keyframes rotateMoonPhone {
  from {
    transform: translate(50%, 0%);
  }
  to {
    transform: translate(50%, -55%);
  }
}

@keyframes glitch-image {
  0%,
  100% {
    opacity: 1;
    transform: translate3d(var(--gap-horizontal), 0, 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  20% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  30% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  40% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  50% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  55% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  60% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  65% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  70% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  80% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  85% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
    clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
  }
  95% {
    -webkit-clip-path: polygon(0 72%, 100% 72%, 100% 78%, 0 78%);
    clip-path: polygon(0 72%, 100% 72%, 100% 78%, 0 78%);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7.5px);
  }
  100% {
    transform: translateY(0);
  }
}
